* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: #3e52a3;
}