:root {
    --primary-font: 'Young Serif', sans-serif;
    --secondary-font: 'Outfit', sans-serif;

    --white: #ffffff;
    --stone-100: #f3E5D7;
    --brown-800: #854632;
    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;

    --text-preset1-lh: 1;
    --text-preset1-fz: 40px;
    --text-preset1-ls: 0px;
    --text-preset1-ff: var(--primary-font);
    --text-preset2-fw: 400;

    --text-preset2-lh: 1;
    --text-preset2-fz: 28px;
    --text-preset2-ls: 0px;
    --text-preset2-ff: var(--primary-font);
    --text-preset2-fw: 400;

    --text-preset3-lh: 1;
    --text-preset3-fz: 20px;
    --text-preset3-ls: 0px;
    --text-preset3-ff: var(--secondary-font);
    --text-preset3-fw: 600;


    --text-preset4-lh: 1.5;
    --text-preset4-fz: 16px;
    --text-preset4-ls: 0px;
    --text-preset4-ff: var(--secondary-font);
    --text-preset4-fw: 400;
    --text-preset4-fw-bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: var(--stone-100);
    padding: 128px 40px;
}

.container{
    width: 100%;
    max-width: 736px;
    margin: 0 auto;
    border-radius: 24px;
    overflow: hidden;
    padding: 40px;
    background-color: var(--white);
}

header {
    margin-bottom: 32px;
}

figure {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    display: block;
    margin-bottom: 40px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-family: var(--text-preset1-ff);
    font-size: var(--text-preset1-fz);
    line-height: var(--text-preset1-lh);
    letter-spacing: var(--text-preset1-ls);
    font-weight: var(--text-preset1-fw);
    color: var(--stone-900);
}

h2 {
    font-family: var(--text-preset2-ff);
    font-size: var(--text-preset2-fz);
    line-height: var(--text-preset2-lh);
    letter-spacing: var(--text-preset2-ls);
    font-weight: var(--text-preset2-fw);
    color: var(--brown-800);
}

h1, h2 {
    margin-bottom: 24px;
}

p, ol, ul {
    line-height: 1.5;
    font-family: var(--text-preset4-ff);
    font-size: var(--text-preset4-fz);
    line-height: var(--text-preset4-lh);
    letter-spacing: var(--text-preset4-ls);
    font-weight: var(--text-preset4-fw);
    color: var(--stone-600);
}

section {
    margin-bottom: 32px;
}

section ul li, section ol li{
    padding-left: 20px;
    line-height: var(--text-preset4-lh);
    margin-bottom: 8px;
}

section ul li:last-of-type, section ol li:last-of-type {
    margin-bottom: 0;
}

section ul, ol{
    padding-left: 20px;
}
.preparation-time {
    padding: 24px;
    background-color: var(--rose-50);
    border-radius: 12px;
}

.preparation-time h2 {
    font-family: var(--text-preset3-ff);
    font-size: var(--text-preset3-fz);
    line-height: var(--text-preset3-lh);
    letter-spacing: var(--text-preset3-ls);
    font-weight: var(--text-preset3-fw);
    color: var(--rose-800);
    border-radius: 12px;
    margin-bottom: 16px;
}

.preparation-time ul {
    padding: 0 24px;
}

.preparation-time ul li {
    padding-left: 16px;
    margin-bottom: 8px;
    line-height: var(--text-preset4-lh);
}

.preparation-time ul li:last-of-type {
    margin-bottom: 0;
}

.preparation-time ul li::marker {
    color: var(--rose-800);
}

.preparation-time ul li span {
    font-weight: var(--text-preset4-fw-bold);
}

li::marker{
    color: var(--rose-800);
    font-size: 13px;
    font-weight: bold
}

section:not(.preparation-time) ul, section:not(.preparation-time) ol {
    padding-bottom: 32px;
    position: relative;
}

section:not(.preparation-time) ul::before, section:not(.preparation-time) ol::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--stone-150);

}

li {
    span {
        font-weight: var(--text-preset4-fw-bold);
    }
}

table {
    margin-top: 24px;
    width: 100%;
    border-collapse: collapse;
}

table tr {
    width: 100%;
}

table tr td, table tr th {
    width: 50%;
    text-align: left;
    font-family: var(--text-preset4-ff);
    font-size: var(--text-preset4-fz);
    line-height: var(--text-preset4-lh);
    font-weight: var(--text-preset4-fw);
    color: var(--stone-600);
    border-bottom: 1px solid var(--stone-150);
    padding-left: 32px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.last td, .last th {
    border: none;
    padding-bottom: 0;
}

table tr td {
    color: var(--rose-800);
    font-weight: var(--text-preset4-fw-bold);
}

.nutrition {
    margin-bottom: 0;
}


@media (min-width: 640px) and (max-width: 1023px) {
    body {
        padding: 128px 76px;
    }
}

@media (max-width: 640px) {
    body, .container {
        padding: 0;
    }

    figure {
        border-radius: 0;
        height: 171px;
    }

    main {
        padding: 0 32px 40px;
    }

    header h1, header p {
        padding: 0 32px;
    }

    h1 {
        font-size: 36px;
    }
}