:root {
  --white: hsl(0, 0%, 100%);
  --Stone100: hsl(30, 54%, 90%);
  --Stone150: hsl(30, 18%, 87%);
  --Stone600: hsl(30, 10%, 34%);
  --Stone900: hsl(24, 5%, 18%);
  --Brown800: hsl(14, 45%, 36%);
  --Rose800: hsl(332, 51%, 32%);
  --Rose50: hsl(330, 100%, 98%);

  --primary-font: "Young Serif", serif;
  --secondary-font: "Outfit", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

body {
  container-type: inline-size;
  container-name: body;
  background-color: var(--Stone100);
  padding: 30px 0;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  background: var(--white);
  border-radius: 20px;
  border-radius: 20px;
  container-type: inline-size;
  container-name: recipe;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--Stone600);
  /* background-color: red; */
}

.attribution a {
  color: var(--Rose800);
  font-size: inherit;
  text-decoration: underline;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:where(section, header) {
  
  padding: 0 40px 20px 40px;
}

:where(p, li, a, span) {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  color: var(--Stone600);
  line-height: 1.5;
}

:where(h1, h2) {
  font-family: var(--primary-font);
  font-weight: 400;
}

header {
  padding: 40px 40px 30px;
  
}

header figure {
  border-radius: 15px;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 3rem;
  color: var(--Brown800);
  margin-bottom: 20px;
}

.intro__prep {
  background: var(--Rose50);
  padding: 20px;
  border-radius: 12px;
  margin: 25px 0 0;
}

.intro__prep h2 {
  font-family: var(--secondary-font);
  font-size: 20px;
  color: var(--Rose800);
  font-weight: 600;
  margin-bottom: 10px;
}


ul, ol{
  padding:0 20px 0 25px;
}

li::marker {
  color: var(--Rose800);
  font-weight: 600;
}

ul li {
  margin-bottom: 5px;
}

ol li {
  padding-left: 15px;
}

ol li span{
  font-weight: 600;
}

.intro__prep li span {
  font-weight: 600;
  padding-left: 20px;
  padding-right: 5px;
}

section:not(.intro) {
  margin-bottom: 30px;
}

.ingredients ul,
.instructions ol {
  position: relative;
} 

.ingredients ul::after,
.instructions ol::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--Stone150);
  left: 50%;
  bottom: -25px;
  position: absolute;
  transform: translateX(-50%);
}
.nutrition__rows {
  margin-top: 10px;
}

.nutrition__rows .row {
  padding: 10px 40% 10px 5%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--Stone150);
}

.nutrition__rows .row:last-of-type {
  border: none;
}

.nutrition__rows .row .number {
  color: var(--Rose800);
  font-weight: 600;
  width: 60px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }
  .container {
    border-radius: unset;
    padding: 0;
  }
}

@container body (max-width: 768px) {
  body {
    padding: 0;
  }
}


@container recipe (max-width: 768px) {



  header {
    padding: 0 0 40px 0;
  }

  header figure {
    border-radius: unset;
  }

  h1{
    font-size: 3.5rem;
    line-height: 1;
  }

  h2 {
    font-size: 2.5rem;
  }

  p, li, a, span {
    font-size: 1.6rem;
  }

  section {
    padding: 0 24px 25px;
  }
  
  .intro__prep li span {
    padding: 0;
  }
  .nutrition__rows .row {
    padding: 10px 35% 10px 7%;
  }
}

@container recipe (max-width: 320px) {
    h1{
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}